h1 Create a game!
#create-error.error
form#create-form
  label Game name:
    br
    input(name="name")
  br
  label Width:
    br
    input(name="x", value="50")
  br
  label Height:
    br
    input(name="y", value="50")
  br
  input(type="submit", value="Create")
