h1 I can haz gaem?
- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error
form(action="/create", method="POST")
  label Game name:
    br
    input(name="name")
  br
  label Width:
    br
    input(name="x", value="50")
  br
  label Height:
    br
    input(name="y", value="50")
  br
  input(type="submit", value="Create")
