h1#header Battle
h2
  = game.name
.hidden#gid
  = game.id
table#display_table
  tr
    td(rowspan="2")
      canvas#game_of_life(width="400px", height="400px")
    td
      h1
        = "Templates"
  tr
    td
      div#template_pane
        div.scrollbar
          div.track
            div.thumb
              div.end
        div.viewport
          div#template_content.overview
br
div#info_display(style="display: none;")
  table
    tr
      td(colspan="2")
        = "Generation"
    tr
      td#gen(colspan="2")
        = "0"
    tr
      td(colspan="2")
        = "Population"
    tr
      td
        = "Player 1"
      td
        = "Player 2"
    tr
      td#pop1
        = "..."
      td#pop2
        = "..."
br
button#play_pause play
script(src="/js/library.js")
script(src="/js/game.js")
script(src="/js/shared/shared.js")
script(src="/js/lib/jquery.tinyscrollbar.min.js")
