h1#header Battle
h2
  = game.name
.hidden#gid
  = game.id
.hidden#gsize
  = JSON.stringify(game.grid_size)
table#display_table
  tr
    td(rowspan="2")
      canvas#game_of_life(width=(game.grid_size.x * 8 + 1) + "px", height=(game.grid_size.y * 8 + 1) + "px")
        = "You browser does not support canvases. You cannot play this game."
    td
      div#template_content.scroll-pane
br
div#info_display(style="display: none;")
  table
    tr
      td(colspan="2")
        = "Generation"
    tr
      td#gen(colspan="2")
        = "0"
    tr
      td(colspan="2")
        = "Population"
    tr
      td
        = "Player 1"
      td
        = "Player 2"
    tr
      td#pop1
        = "..."
      td#pop2
        = "..."
br
button#play_pause play
script(src="/js/library.js")
script(src="/js/game.js")
script(src="/js/shared/shared.js")
script(src="/js/lib/jquery.min.js")
script(src="/js/lib/jquery.mousewheel.js")
script(src="/js/lib/jquery.jscrollpane.min.js")
script(src="/js/lib/mwheelIntent.js")
link(type="text/css", href="/css/jquery.jscrollpane.css", rel="stylesheet", media="all")
