h1 {{name}}
table#display_table
  tr
    td(rowspan="2")
      canvas#game_of_life(width="{{width}}px", height="{{height}}px")
        = "You browser does not support canvases. You cannot play this game."
    td
      div#template_content.scroll-pane
br
div#info_display.hidden
  table
    tr
      td(colspan="2")
        = "Generation"
    tr
      td#gen(colspan="2")
        = "0"
    tr
      td(colspan="2")
        = "Population"
    tr
      td
        = "Player 1"
      td
        = "Player 2"
    tr
      td#pop1
        = "..."
      td#pop2
        = "..."
br
button#play_pause play
br
br
button#back_to_menu quit