h1#header Battle
h2
  = game.name
ul
  li
    a(href="/") Home
  li
    a(href="/logout") Log out
canvas#game_of_life(width="400px", height="400px")
br
button#play_pause play
script(src="/js/game.js")
