h1 The Game Of Life and Death
ul
  li
    a(href="/login") Login
  li
    a(href="/register") Register
  li
    a(href="/game") Game
  li
    a(href="/join") Join a game
  li
    a(href="/create") Create a game
  li
    a(href="/logout") Logout
h1 Ahoy matey!
| <iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/2WdYt9VkVek?autoplay=0" frameborder="0">
| </iframe>
