#app
  #userid.hidden= user.id
  #top-status.status
  #top-error.error
  #main-panel
    a#create-btn Create a game!
    #create.hidden
      != partial('create')
    #join
  #game-panel
    h1#header
    #game

div.templates.hidden
  - for(tmpl in {'login':'', 'register':'', 'join':'', 'game':''})
    script(id=tmpl+'-tmpl', type="template")
      != partial(tmpl)

script(src="/socket.io/socket.io.js")
script(src="/js/app.js")
script(src="/js/library.js")
script(src="/js/game.js")
script(src="/js/shared/shared.js")
//script(src="/js/track.js")
script(src="/js/lib/jquery.mousewheel.js")
script(src="/js/lib/jquery.jscrollpane.min.js")
script(src="/js/lib/mwheelIntent.js")
