h1 The Game Of Life and Death
ul
  - if(everyauth.loggedIn)
    li
      a(href="/join") Join a game
    li
      a(href="/create") Create a game
    li
      a(href="/logout") Logout

- if(!everyauth.loggedIn)
  h1 Login, good sir.
  - if ('undefined' !== typeof errors && errors.length)
    ul#errors
      - each error in errors
        li.error= error
  form(action="/login", method="POST")
    label email:
      br
      input(name="email")
    br
    label password:
      br
      input(type="password", name="password")
    br
    input(type="submit", value="Login")


  h1 Come one, come all! Register here!
  - if ('undefined' !== typeof errors && errors.length)
    ul#errors
      - each error in errors
        li.error= error
  form#register(action="/register", method="POST")
    label email:
      br
      input(name="email")
    br
    label password:
      br
      input(type="password", name="password")
    br
    label password again:
      br
      input(type="password", name="password_again")
    br
    input(type="submit", value="Register")
script(src="/js/register.js")


h1 Ahoy matey!
| <iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/2WdYt9VkVek?autoplay=0" frameborder="0">
| </iframe>
