#app
  #create
  #join
ul
- if(!everyauth.loggedIn)
  script#login-tmpl(type="template")
    != partial('login')
  script#register-tmpl(type="template")
    != partial('register')
script#join-tmpl(type="template")
  != partial('join')
script#create-tmpl(type="template")
  != partial('create')

script(src="/js/app.js")