!!! 5
html
  head
    title Game of Life
    link(rel="stylesheet", type="text/css", href="/css/reset.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    script(src="/js/lib/jquery.min.js")
    script(src="/js/lib/mustache.js")
    script(src="/socket.io/socket.io.js")
  body
    #overlay
      img(src="/images/load48.gif")
    .main
      - // this is to make padding work without messing up 100% min height
      .main-inner
        .banner
          a(href='/') The Game Of Life and Death
        ul.nav
          - if(everyauth.loggedIn)
            li.right
              a(href="/logout") Logout
          - else
            li
              a(href="/login") Login
            li
              a(href="/register") Register
          - if ('undefined' !== typeof user)
            li.right
              a(href="/profile/"+user.id) #{user.email}
          - else
            li.right User: Anonymous
        != body
