!!! 5
html
  head
    title RPG Node
    link(rel="stylesheet", type="text/css", href="/css/reset.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
  body
    != body
    script(src="/js/lib/jquery.min.js")
    script(src="/js/game.js")
