!!! 5
html
  head
    title Game of Life
    link(rel="stylesheet", type="text/css", href="/css/reset.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    script(src="/js/lib/jquery.min.js")
    script(src="/socket.io/socket.io.js")
  body
    - if ('undefined' !== typeof user)
      h1 User: #{user.email} (#{user.id})
    - else
      h1 User: Anonymous
    != body
