!!! 5
html
  head
    title Game of Life
    link(rel="stylesheet", type="text/css", href="/css/reset.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    link(type="text/css", href="/css/jquery.jscrollpane.css", rel="stylesheet", media="all")
    script(src="/js/lib/jquery.min.js")
    script(src="/js/lib/mustache.js")
  body
    #overlay
      img(src="/images/load48.gif")
    .main
      - // this is to make padding work without messing up 100% min height
      .main-inner
        .banner
          a(href='/') The Game Of Life
        ul.nav
          - if(everyauth.loggedIn)
            li.right
              a(href="/logout") Logout
          - else
            li
              a(href="/login") Log in
            li
              a(href="/register") Register
          - if ('undefined' !== typeof user)
            li.right #{user.email}
              //a(href="/profile/"+user.id) #{user.email}
          - else
            li.right User: Anonymous
        != body
