!!! 5
html
  head
    title Game of Life
    link(rel="stylesheet", type="text/css", href="/css/reset.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    link(type="text/css", href="/css/jquery.jscrollpane.css", rel="stylesheet", media="all")
    script(src="https://login.persona.org/include.js")
    script(src="/js/lib/jquery.min.js")
    script(src="/js/lib/mustache.js")
    script(src="/js/auth.js")
    - if ('undefined' !== typeof user)
      - user_clean = user
      - delete user_clean.password
      meta(name="user", content=JSON.stringify(user))
  body
    #overlay
      img(src="/images/load48.gif")
    .main
      - // this is to make padding work without messing up 100% min height
      .main-inner
        .banner
          a(href='/') The Game Of Life
        ul.nav
          p
            - if ('undefined' !== typeof user)
              li #{user.email}
                //a(href="/profile/"+user.id) #{user.email}
            - else
              li User: Anonymous
            li
              a(id="persona_login") Login / Register
            - if ('undefined' !== typeof user)
              li
                - if (user.account_type == 'browser_id')
                  a(id="persona_logout") Logout
                - else
                  a(href="/logout") Logout
          p
            - if ('undefined' !== typeof user)
              img(src="http://avatars.io/email/"+user.email)
        != body
