- if ('undefined' !== typeof profile)
  p #{profile.email}
  p wins: #{profile.wins}
  p losses: #{profile.losses}
  p ties: #{profile.ties}
  - if (profile.id == profile.id)
    a(href="/profile/"+profile.id+"/edit") Edit
