- if ('undefined' !== typeof profile)
  p #{profile.email}
  p wins: #{profile.wins.length}
  p losses: #{profile.losses.length}
  p ties: #{profile.ties.length}
  - if (profile.id == profile.id)
    a(href="/profile/"+profile.id+"/edit") Edit
