.container_12
  h2
    | 12 Column Grid
  .grid_12
    p
      | 940
  // end .grid_12 
  .clear
  .grid_1
    p
      | 60
  // end .grid_1 
  .grid_11
    p
      | 860
  // end .grid_11 
  .clear
  .grid_2
    p
      | 140
  // end .grid_2 
  .grid_10
    p
      | 780
  // end .grid_10 
  .clear
  .grid_3
    p
      | 220
  // end .grid_3 
  .grid_9
    p
      | 700
  // end .grid_9 
  .clear
  .grid_4
    p
      | 300
  // end .grid_4 
  .grid_8
    p
      | 620
  // end .grid_8 
  .clear
  .grid_5
    p
      | 380
  // end .grid_5 
  .grid_7
    p
      | 540
  // end .grid_7 
  .clear
  .grid_6
    p
      | 460
  // end .grid_6 
  .grid_6
    p
      | 460
  // end .grid_6 
  .clear
  .grid_1.suffix_11
    p
      | 60
  // end .grid_1.suffix_11 
  .clear
  .grid_1.prefix_1.suffix_10
    p
      | 60
  // end .grid_1.prefix_1.suffix_10 
  .clear
  .grid_1.prefix_2.suffix_9
    p
      | 60
  // end .grid_1.prefix_2.suffix_9 
  .clear
  .grid_1.prefix_3.suffix_8
    p
      | 60
  // end .grid_1.prefix_3.suffix_8 
  .clear
  .grid_1.prefix_4.suffix_7
    p
      | 60
  // end .grid_1.prefix_4.suffix_7 
  .clear
  .grid_1.prefix_5.suffix_6
    p
      | 60
  // end .grid_1.prefix_5.suffix_6 
  .clear
  .grid_1.prefix_6.suffix_5
    p
      | 60
  // end .grid_1.prefix_6.suffix_5 
  .clear
  .grid_1.prefix_7.suffix_4
    p
      | 60
  // end .grid_1.prefix_7.suffix_4 
  .clear
  .grid_1.prefix_8.suffix_3
    p
      | 60
  // end .grid_1.prefix_8.suffix_3 
  .clear
  .grid_1.prefix_9.suffix_2
    p
      | 60
  // end .grid_1.prefix_9.suffix_2 
  .clear
  .grid_1.prefix_10.suffix_1
    p
      | 60
  // end .grid_1.prefix_10.suffix_1 
  .clear
  .grid_1.prefix_11
    p
      | 60
  // end .grid_1.prefix_11 
  .clear
  .grid_6.push_6
    .grid_1.alpha
      p
        | 60
    // end .grid_1.alpha 
    .grid_5.omega
      p
        | 380
    // end .grid_5.omega 
    .clear
    .grid_3.alpha
      p
        | 220
    // end .grid_3.alpha 
    .grid_3.omega
      p
        | 220
    // end .grid_3.omega 
  // end .grid_6.push_6 
  .grid_6.pull_6
    .grid_3.alpha
      p
        | 220
    // end .grid_3.alpha 
    .grid_3.omega
      p
        | 220
    // end .grid_3.omega 
    .clear
    .grid_1.alpha
      p
        | 60
    // end .grid_1.alpha 
    .grid_5.omega
      p
        | 380
    // end .grid_5.omega 
  // end .grid_6.pull_6 
// end .container_12