html,
body {
  height: 100%;
  background-color: #000;
  background-image: url("/images/game.png");
  background-repeat: repeat;
  background-attachment: scroll;
  color: #fff;
}
#game_of_life {
  border: 1px solid #000;
  background-color: #fff;
  margin: 10px;
}
#display_table tr td {
  text-align: center;
}
td.select_on,
td.select_off {
  width: 10px;
  height: 10px;
  border: 1px solid #444;
}
td.select_on {
  background-color: #000;
}
td.select_off {
  background-color: #fff;
}
div.template_pick {
  padding: 2px;
}
div.template_selected {
  background-color: #00f;
}
a {
  color: #19a8b3;
}
h1 {
  font-size: 2em;
}
p {
  padding-bottom: 5px;
}
label {
  padding-bottom: 3px;
}
.hidden {
  display: none;
}
.main {
  background-color: #fff;
  color: #000;
  border-left: solid 10px #808080;
  border-right: solid 10px #808080;
  min-height: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.main-inner {
  padding: 20px;
}
.banner {
  font-size: 2em;
}
.banner a {
  color: #000;
}
ul.nav {
  margin-bottom: 20px;
}
ul.nav li {
  display: inline;
  margin-right: 10px;
}
.right {
  float: right;
}
.left {
  float: left;
}
a {
  color: #285369;
  font-weight: bold;
  text-decoration: none;
}
#info_display tr td {
  border: 1px solid #000;
  padding: 4px;
}
#template_pane {
  width: 260px;
  clear: both;
  margin: 20px 0 10px;
  background-color: #ddd;
}
#template_pane .viewport {
  width: 240px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
#template_pane .overview {
  text-align: left;
  padding: 0 0 0 5px;
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
}
#template_pane .thumb .end,
#template_pane .thumb {
  background-color: #003d5d;
}
#template_pane .scrollbar {
  position: relative;
  float: right;
  right: 15px;
}
#template_pane .track {
  background-color: #d8eefd;
  height: 100%;
  width: 13px;
  position: relative;
  padding: 0 1px;
}
#template_pane .thumb {
  height: 20px;
  width: 13px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
}
#template_pane .thumb .end {
  overflow: hidden;
  height: 5px;
  width: 13px;
}
#template_pane .disable {
  display: none;
}
