html,
body {
  height: 100%;
  background-color: #000;
  background-image: url("/images/game.png");
  background-repeat: repeat;
  background-attachment: scroll;
  color: #fff;
}
#game_of_life {
  border: 1px solid #000;
  background-color: #fff;
  margin: 10px;
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #000;
  opacity: 0.5;
  display: none;
  text-align: left;
}
#overlay img {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
}
.game a {
  font-size: 2em;
}
a {
  cursor: pointer;
}
.error {
  background-color: #f99;
  background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(255,255,255,0.5) 35px, rgba(255,255,255,0.5) 70px);
  font-size: 15px;
}
.status {
  background-color: #adf;
  background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 35px, rgba(255,255,255,0.5) 35px, rgba(255,255,255,0.5) 70px);
  font-size: 15px;
}
#display_table tr td {
  text-align: center;
}
td.select_on,
td.select_off {
  width: 10px;
  height: 10px;
  border: 1px solid #444;
}
td.select_on {
  background-color: #000;
}
td.select_off {
  background-color: #fff;
}
div.template_pick {
  padding: 2px;
  text-align: left;
}
div.template_selected {
  background-color: #03d;
}
a {
  color: #19a8b3;
}
h1 {
  font-size: 2em;
}
p {
  padding-bottom: 5px;
}
label {
  padding-bottom: 3px;
}
.hidden {
  display: none;
}
.main {
  background-color: #fff;
  color: #000;
  -moz-box-shadow: 0 0 10px 0 #000;
  -webkit-box-shadow: 0 0 10px 0 #000;
  box-shadow: 0 0 10px 0 #000;
  min-height: 100%;
  width: 960px;
  margin: 0 auto;
}
.main-inner {
  padding: 20px;
}
.banner {
  font-size: 2em;
}
.banner a {
  color: #000;
}
ul.nav {
  margin-bottom: 20px;
}
ul.nav li {
  display: inline;
  margin-right: 10px;
}
.right {
  float: right;
}
.left {
  float: left;
}
a {
  color: #285369;
  font-weight: bold;
  text-decoration: none;
}
#info_display tr td {
  border: 1px solid #000;
  padding: 4px;
}
.scroll-pane {
  width: 300px;
  height: 400px;
  overflow: auto;
  background-color: #aaa;
  padding: 10px;
}
