html
  background-color #000
  color #fff
  #game_of_life
    border 1px solid black
    background-color white
  a
    color #19A8B3
  h1
    font-size 2em
  p
    padding-bottom 5px
  label
    padding-bottom 3px
  .hidden
    display:none
